.wallpaper-control button {
  height: fit-content;
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 64px;
  cursor: pointer;
  font-weight: 200;
  opacity: 0.5;
  transition: opacity 0.1s ease-in;
}

.wallpaper-control button:hover {
  opacity: 1;
}

.left-wallpaper-control {
  grid-row-start: 2;
  grid-column-start: 1;
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.right-wallpaper-control {
  grid-row-start: 2;
  grid-column-start: 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 16px;
}
